<div class="task">
    <label class="container-update">
    <%= task.title %>  
    <%= link_to [task.event, task], method: :delete, class: "delete-task" do %>
        <%= inline_svg('icon-trash.svg') %>
    <% end %>
        <%= form_with(model: [task.event, task], local: true) do |f| %>
            <% if task.completed == false %>
                <%= f.check_box :completed, :checked => true, :style => 'display: none' %>
                <%= f.submit "", class: "mark" %>
            <% else %>
                <%= f.check_box :completed, :checked => false, :style => 'display: none' %>
                <%= f.submit "", class: "unmark" %>
            <% end %>
        <% end %>
        <div class="checkmark <%= 'hidden' if task.completed == false %>">
            <%= inline_svg('icon-mark') %>
        </div>
    </label>
</div>

