<%= form_with(model: event, local: true) do |form| %>
    <% if event.errors.any? %>
        Error
    <% end %>

    <div class="note-field">
        <%= form.text_area :note, placeholder: "Add your notes", :id => 'note-textarea' %>
    </div>

    <div class="actions">
        <%= form.submit "Update", :class => 'btn-primary hidden', :accesskey => 's', :id => 'update-btn' %>

        <div class="note-confirmation" id="update-confirmation">
            <%= notice %>
        </div>
    </div>



<% end %>

<script>

 let textArea = document.getElementById('note-textarea');
 let csrfToken = document.querySelector('form').querySelector('[name=authenticity_token]').value
 let saveCounter;
 textArea.onchange = (ev) => {
     console.log("Hola Eder");
     if (saveCounter)
         clearTimeout(saveCounter);

     saveCounter = setTimeout(() => {
         fetch("<%= event_path(@event) %>",
               {method: "PATCH",
                headers: {
                    "X-CSRF-Token": csrfToken,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({event: {note: textArea.value}})} )
     }, 2000)
 };


 var update_btn = document.getElementById("update-btn");
 var update_confirmation = document.getElementById("update-confirmation");
 var Delay

 textArea.setAttribute('style', 'height:' + (textArea.scrollHeight) + 'px;overflow-y:hidden;');
 textArea.addEventListener("input", OnInput, false);


 function OnInput() {
     this.style.height = 'auto';
     this.style.height = (this.scrollHeight) + 'px';
     update_btn.classList.remove("hidden");
 }

 function ShowNotice() {
     update_confirmation.classList.add("hidden");
 }

 function DelayNotice() {
     Delay = setTimeout(ShowNotice, 2000);
 }

 window.onload = DelayNotice;

</script>
