<%= form_with(model: event, local: true) do |form| %>
    <% if event.errors.any? %>
        Error
    <% end %>

    <div class="note-field">
        <%= form.text_area :note, placeholder: "Add your notes", :id => 'note-textarea', rows: "1", class: "hidden" %>
        <div contenteditable="true" class="editable" id="populate-div">
            <% if @event.note != nil %>
                <%= @event.note.html_safe %>
            <% end %>
        </div>
    </div>

    <div class="actions">
        <%= form.submit "Update", :class => 'btn-primary hidden', :id => 'update-btn' %>
    </div>
<% end %>



<script src="/assets/events-form.js"></script>

<script>
    var textArea = document.getElementById('note-textarea');
    var csrfToken = document.querySelector('form').querySelector('[name=authenticity_token]').value
    var editor = new MediumEditor('.editable');
    var divArea = document.getElementById('populate-div');
    var saveCounter;
    divArea.oninput = function() {
    textArea.innerHTML = divArea.innerHTML;
    ShowNotice();
     if (saveCounter)
         clearTimeout(saveCounter);

     saveCounter = setTimeout(() => {
         fetch("<%= @event %>",
               {method: "PATCH",
                headers: {
                    "X-CSRF-Token": csrfToken,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({event: {note: textArea.value}})}).then(ShowSaving()).then(DelayNotice())
     }, 1000);
 };
 
</script>