<aside id="sidebar" class="width-22 theme-snow">
    <div class="user-options">
        <span>
            <a href="/">
                <%= inline_svg('logo-s.svg') %>
            </a>
        </span>
        <button onclick="showDropdown()" class="user-menu mb-dropdown-btn" >
            <%= current_user.name %>
            <span>
                <%= inline_svg('icon-down')%>
            <span>
        </button>
        <div id="user-dropdown" class="mb-dropdown">
            <button class="option">Change Theme</button>
            <%= link_to "Sign out", signout_path, class: "option" %>
        </div>
        <% if @event.present? %>
            <span class="hide-btn">
                <button id="hide-sidebar-btn" onclick="hideLeft()">
                    <%= inline_svg('icon-hide') %>
                </button>
            </span>
        <% end %>
                
    </div>

    <% if @event.present? %>
    <div class="events-toggle">
        <button id="show-new-events" onclick="showUpcoming()" class="<%= 'active' if @event.ends.to_i > Time.now.to_i %>">Upcoming</button>
        <button id="show-past-events" onclick="showPast()" class="<%= 'active' if @event.ends.to_i < Time.now.to_i %>">Latest</button>
    </div>
    <% else %>
    <div class="events-toggle">
        <button id="show-new-events" onclick="showUpcoming()" class="active">Upcoming</button>
        <button id="show-past-events" onclick="showPast()" class="">Latest</button>
    </div>
    <% end %>

    <div class="scroll-bar-container">
        <% if @event.present? %>
        <div id="new-events" class="<%= 'hidden' if @event.ends.to_i < Time.now.to_i %>">
        <% else %>
        <div id="new-events" class="">
        <% end %>

        <% @calendar_days.each do |day, calendars| %>
            <h2>
                <% if day == @today %>
                    Today
                <% else %>
                    <% if day == @tomorrow %>
                        Tomorrow
                    <% else %>
                        <%= day.strftime("%A %d") %> 
                    <% end %>
                <% end %>
            </h2>
            <ul>
                <% for calendar in calendars %>

                    <% if @event.present? %>
                        <a href="<%= event_path(calendar.id) %>" class="<%= (@event.gid == calendar.id) ? 'active' : 'event-link' %>">
                    <% else %>
                        <a href="<%= event_path(calendar.id) %>" class="event-link">
                    <% end %>

                        <li>

                            <div class="event-name">
                                <%= calendar.summary %>
                            </div>
                            <div class="timelapse">
                                <span class="date">
                                    <%= calendar.start.date_time&.strftime("%I:%M%p")%> to <%=calendar.end.date_time&.strftime("%I:%M%p") %>
                                </span>
                                <% if Time.now.to_i.between?(calendar.start.date_time.to_i, calendar.end.date_time.to_i) %>
                                    <span class="now">Now</span>
                                <% end %>        
                            </div>
                        
                        </li>
                    </a>

                <% end %>
            </ul>
        <% end %>
        </div>
        <% if @event.present? %>
            <div id="past-events" class="<%= 'hidden' if @event.ends.to_i > Time.now.to_i %>">
        <% else %>
            <div id="past-events" class="hidden">
        <% end %>
            <h2>Latest events</h2>

            <ul>
                <% @latest_events.each do |event| %>
                    <% if event.ends.to_i < Time.now.to_i %>
                        <% if @event.present? %>
                            <a href="<%= event_path(event.id) %>" class="<%= (@event.gid == event.gid) ? 'active' : 'event-link' %>">
                        <% else %>
                            <a href="<%= event_path(event.id) %>" class="event-link">
                        <% end %>
                                <li>
                                    <div class="event-name">
                                        <%= event.title %>
                                    </div>
                                    <div class="timelapse">
                                        <span class="date">
                                            <%= event.starts&.strftime("%B %d") %> - <%= event.starts&.strftime("%I:%M%p") %>
                                        </span>      
                                    </div>
                                </li>
                            </a>
                    <% end %>
                <% end %>
            </ul>
        </div>

    </div>

    <script src="/assets/components.js"></script>
    <script src="/assets/events-sidebar.js"></script>
    
    
</aside>