<main class="board">
<% if current_user %>
    
    <%= render "sidebar" %>

    <% if @events.present? %>

    <div id="workspace" class="width-48">

    <div class="calendar-landing">
        <div>
            <div>
                <%= inline_svg("img-clock") %>
            </div>
            <h3>Your next meeting:</h3>
                <a href="/events/<%= @calendars.first.id %>">
                    <%= @calendars.first.summary %> 
                </a>
                on <%= @calendars.first.start.date_time&.strftime("%A %d") %> at <%= @calendars.first.start.date_time&.strftime("%I:%M%p") %>
        </div>
    </div>

    </div>
    <div id="todobar" class="width-30">
        
        <div class="todohead">
            <div class="tabs">
                <h4>You have <%= @tasks.where(completed: false).count %> pending items</h4>
                <div class="cleaner">
                    <button id="clear-events" onclick="cleanTasksIndex()" class="clear-tasks"></button>
                    <button id="display-events" onclick="displayTasksIndex()" class="display-tasks hidden"></button>
                </div>
            </div>
        </div>

        <div class="scroll-todobar-container">
            <div class="task-container" id="all-tasks-block">
                <%= render 'alltasks' %>
            </div>
        </div>
    </div>

    <% end %>
<% end %>

    <%= javascript_include_tag "application" %>

</main>