<main class="board">
    
    <%= render "sidebar" %>

    <div id="workspace" class="width-48">

    <div class="calendar-landing">
        <div>
            <h3>Your next meeting:</h3>
            <% if @events.present? %>
                <%= link_to(@calendars.first.id) do %>
                    <%= @calendars.first.summary %> 
                <% end %>
                on <%= @calendars.first.start.date_time&.strftime("%A %d") %> at <%= @calendars.first.start.date_time&.strftime("%I:%M%p") %>
            <% end %>
        </div>
    </div>

    </div>
    <div id="todobar" class="width-30">
        <div class="scroll-todobar-container">
            <h4>You have <%= @tasks.count %> items</h4>

            <div class="task-container" id="all-tasks-block">
            <% @tasks.each do |t| %>
                <% if t.event_title != nil %>
                    <div class="task-group">
                        <a href="<%= t.event_id %>" class="event">
                            <%= t.event_title %>
                        </a>
                    </div>
                <% end %>
            
                <div class="task">
                    <label class="container">
                        <%= t.title %><br>
                        <input type="checkbox" class="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            <% end %>
        </div>
        </div>
    </div>
</main>