<main class="board">

    <%= render "sidebar" %>

    <div class="workspace">
        <div class="scroll-workspace-container">
            <h1>
                <%= @event.title %>
            </h1>
            <p>
                <% if @event.description != nil %>
                    <%= @event.description.html_safe %>
                <% end %>
            </p>
            <% if @event.hangout_link != nil %>
                <a href="<%= @event.hangout_link %>" target="_blank">
                    Meet link
                </a>
            <% end %>

            <%= render 'form', event: @event %>

        </div>
    </div>

    <div class="todobar">
    </div>

</main>