<main class="board">

    <%= render "sidebar" %>

    <div class="workspace">
        <div class="scroll-workspace-container">
            <h1>
                <%= @event.title %>
            </h1>
            <div class="event-tabs">
                <% if @event.description != nil %>
                    <button class="details" onclick="showDetails()" id="event-details-btn">
                        Details
                    </button>
                <% end %>
                <button class="details">
                    Participants
                </button>
                <% if @event.hangout_link != nil %>
                    <a href="<%= @event.hangout_link %>" target="_blank">
                        Meet link
                    </a>
                <% end %>

                <div id="event-details" class="hidden">
                    <div class="details-wrapper">
                        <p>
                            <% if @event.description != nil %>
                                <%= @event.description.html_safe %>
                            <% end %>
                        </p>
                        
                    </div>
                </div>
            
            </div>
            

            <%= render 'form', event: @event %>

        </div>
    </div>

    <div class="todobar">
    </div>

    <script>

        var eventDetails = document.getElementById("event-details");
        var buttonDetails = document.getElementById("event-details-btn");

        function showDetails() {
            eventDetails.classList.toggle("hidden");
            buttonDetails.classList.toggle("active");
        }
    </script>
  
</main>

