<main class="board">

    <%= render "sidebar" %>

    <div id="workspace" class="width-48">
        <div class="workspace-head">
            <div class="left">
                <button id="show-sidebar" class="show-sidebar hidden" onclick="showLeft()">
                    <%= inline_svg('icon-sidebar.svg') %>
                </button>
                <div class="hour">
                    <span> 
                        <%= inline_svg('icon-time.svg') %>
                    </span>
                    <% if @event.starts != nil %>
                        <% if @event.ends.to_i < Time.now.to_i %>
                            <%= @event.starts&.strftime("%B %d") %> - <%= @event.starts&.strftime("%I:%M%p") %>
                            <span class="past-event-label">
                                Past event
                            </span>
                        <% else %>
                            <%= @event.starts.strftime("%I:%M%p") %> to <%= @event.ends.strftime("%I:%M%p") %> 
                            <span class="time-event-label">
                                <%= @event_difference %>
                            </span>
                        <% end %>
                    <% else %>
                        All day
                    <% end %>
                </div>
            </div>
            <div class="right">
                <span id="note-confirmation" class="note-confirmation hidden">...saving</span>
                <% if @event.hangout_link != nil %>
                    <a class="share-option" href="<%= @event.hangout_link %>?hs=42" target="_blank">
                        <span><%= inline_svg('icon-link.svg') %></span>
                    </a>
                <% end %>
                <button onclick="showShare()" class="share-option mb-dropdown-btn">
                    <span>
                        <%= inline_svg('icon-share.svg') %>
                    </span>
                </button>
                <div id="export-dropdown" class="mb-dropdown share-dropdown">
                    <%= link_to "Public Link", event_report_path(@event.id), class: "option" %>
                    <a href="<%= event_download_path(@event.id) %>.txt" download="<%= @event.title %> Report" class="option">Download .txt</a>
                </div>
                <% if @event.ends.to_i < Time.now.to_i %>
                    <button id="delete-event-btn" onclick="showDeleteEvent()" class="share-option">
                        <%= inline_svg('icon-trash.svg') %>
                    </button>
                <% end %>
                
                <div id="delete-event-modal" class="modal hidden">
                    <div class="modal-box">
                        <h2>Are you sure?</h2>
                        <p>The event and all its action items will no longer be available. Are you sure you want to delete it?</p>
                        <div>
                            <button id="cancel-delete-btn" class="btn" onclick="hideDeleteEvent()">No, Cancel</button>
                            <%= link_to "Yes, Delete it", @event, method: :delete, class: "btn btn-primary" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-workspace-container">
            <h1>
                <%= @event.title %>
            </h1>
            <div class="event-tabs">
                
                <button class="details" onclick="showDetails()" id="event-details-btn">
                    Details
                </button>
                
                <button class="details" onclick="showAttendees()" id="event-attendees-btn">
                    Attendees (<%= @event.attendees.count %>)
                </button>
                

                <button class="details" onclick="showType()" id="event-type-btn">
                    Help
                </button>
                

                <div id="event-details" class="hidden">
                    <div class="details-wrapper">
                        <% if @event.description != nil %>
                            <p>
                                <%= @event.description.html_safe %>
                            </p>
                        <% end %>
                        <% if @event.starts != nil %>
                            <div>
                                <span><%= inline_svg('icon-calendar.svg') %></span>
                                <h4>Date</h4>
                            </div>
                            <p>
                                <%= @event.starts.strftime("%A, %B %d") %> 
                            </p>
                        <% end %>
                        <div>
                            <span><%= inline_svg('icon-person.svg') %></span>
                            <h4>Created by</h4>
                        </div>
                        <p>
                            <%= @event.creator %>
                        </p>
                        <% if @event.location != nil %>
                            <div>
                                <span><%= inline_svg('icon-location.svg') %></span>
                                <h4>Location</h4> 
                            </div>
                            
                            <p>
                                <%= @event.location %>
                            </p> 
                        <% end %>
                    </div>
                </div>

                <div id="event-attendees" class="hidden">
                    <div class="details-wrapper">
                    <% if @event.attendees.count != 0 %>
                        <% @attendee_grouping.each do |response, attendees| %>
                            <% if response == "accepted" %>
                                <div class="at-accepted">
                                    <h4>Confirmed
                            <% elsif response == "needsAction" %>
                                <div class="at-pending">
                                    <h4>Pending
                            <% elsif response == "declined" %>
                                <div class="at-declined">
                                    <h4>Declined
                            <% elsif response == "tentative" %>
                                <div class="at-maybe">
                                    <h4>Maybe
                            <% else %>
                                <div class="at-pending">
                                    <h4>Maybe
                                    %= response %>
                            <% end %>
                                (<%= attendees.count %>)
                            </h4>
                            <% for attendee in attendees %>
                                <div class="attendee">
                                    <% if attendee.name == "" || attendee.name == nil %>
                                        <%= attendee.email %>
                                    <% else %>
                                        <%= attendee.name %>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                        <% end %>
        
                    <% else %>
                        <p>No attendees for this meeting</p>
                    <% end %>
                        
                    </div>
                </div>

                <div id="event-type" class="hidden">
                    <div class="details-wrapper">
                        <h4>Select Type</h4>
                        <div class="custom-select" id="custom-select-id">
                            <select id="help-types">
                                <option value="placeholder">Select an option</option>
                                <option value="general" <%= @event.category == "general" ? 'selected' : '' %> >General</option>
                                <option value="personal" <%= @event.category == "1:1" ? 'selected' : '' %> >Personal 1:1</option>
                                <option value="checkin" <%= @event.category == "check-in" ? 'selected' : '' %> >Team Check-in</option>
                            </select>
                        </div>
                        <%= render 'help' %>
                    </div>
                </div>

            </div>
            

            <%= render 'form', event: @event %>

        </div>
    </div>

    <div id="todobar" class="width-30">
        <div class="todohead">
            <div class="tabs">
                <button class="todo-tab active" id="event-task-tab" onclick="showEventTasks()">
                    Action items
                    (<%= @event.tasks.where(completed: false).count %>)
                </button>
                <button class="todo-tab" id="all-tasks-tab" onclick="showAllTasks()">
                    My Tasks
                    (<%= @tasks.where(completed: false).count %>) 
                </button>
                <div class="cleaner">
                    <button id="clear-events" onclick="cleanTasks()" class="clear-tasks"></button>
                    <button id="display-events" onclick="displayTasks()" class="display-tasks hidden"></button>
                </div>
            </div>
        </div>

        <div class="scroll-todobar-container">
            <div class="tasks-container" id="event-task-block">
                <div id="event-tasks-cleaned" class="hidden">
                    <% @event.tasks.sort_by(&:created_at).each do |task| %>
                        <% if task.completed == false %>
                            <%= render partial: 'tasks/task', locals: { task: task } %>
                        <% end %>
                    <% end %>
                </div>
                <div id="event-tasks-all" class="">
                    <% @event.tasks.sort_by(&:created_at).each do |task| %>
                        <%= render partial: 'tasks/task', locals: { task: task } %>
                    <% end %>
                </div>
                <%= render 'tasks/form' %>
            </div>

            <div class="task-container hidden" id="all-tasks-block">

                <%= render 'alltasks' %>

            </div>
            
        </div>
    </div>

<%= javascript_include_tag "components" %>
<%= javascript_include_tag "events-show" %>
<%= javascript_include_tag "events-sidebar" %>
<%= javascript_include_tag "events-form" %>
<%= javascript_include_tag "tasks-form" %>
<%= javascript_include_tag "medium-editor" %>
  
</main>

